*{
   font-family: 'Times New Roman', Times, serif;
}
body{
      background-color:beige;
}
a{
    font-weight:bold;
}
div{
    background-color: rgba(7, 248, 39, 0.5);
}
img{
    height:200px;
    width:200px;
}
#box1{
    height: 100px;
    width: 100px;
    border-radius:50%;
    display: inline-block;
    background-color:rgba(0,0,255,0.25) ;
}
#box2{
    height: 100px;
        width: 100px;
        border-radius: 50%;
            display: inline-block;
    background-color: rgba(0, 0, 255, 0.50);
}
#box3{
    height: 100px;
        width: 100px;
        border-radius: 50%;
            display: inline-block;
    background-color: rgba(0, 0, 255, 0.75);
}